
@model string;

@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
{
    <div class="text-white" style="position: fixed; bottom:25px; right:25px;">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i>Add New
        </a>
    </div>
}